@use 'src/assets/styles/vars.scss';

.card {
    padding: 1.25rem;
    border-radius: 10px;
    background-color: vars.$palette-background-paper;

    .card__info {
        width: 100%;
    }
    
    .card__text {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}