// palette
$palette-primary-main: #F4E041;
$palette-primary-hover: #FFE302;
$palette-secondary-main: #00BDD3;
$palette-action-disabled: #B4B4B4;
$palette-text-primary: rgba(0, 0, 0, 0.87);
$palette-text-secondary: #7E7E7E;
$palette-text-contrast: #FFFFFF;
$palette-background-default: #F8F8F8;
$palette-background-paper: #FFFFFF;
$palette-background-tooltip: rgba(0, 0, 0, 0.87);

// breakpoints 
$breakpoints-value-sm-down: 576px;
$breakpoints-value-md-down: 768px;
$breakpoints-value-lg-down: 1024px;